In [1]:
#Duas opções d einstalação do SqlAlchemy
#!pip install sqlalchemy
!conda install sqlalchemy -y

import sqlalchemy

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [2]:
sqlalchemy.__version__

'1.4.39'

# Conectando ao Banco de Dados

In [3]:
engine = sqlalchemy.create_engine('sqlite:///enterprise.db', echo=True)

# Declarando o mapeamento

In [4]:
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String

In [5]:
Base = declarative_base()

In [6]:
class User(Base):
    __tablename__ = 'users' # informação obrigatória
    id = Column(Integer, primary_key=True) #obrigatório
    name = Column(String(50))
    fullname = Column(String(50))
    age = Column(Integer)
    
    def __repr__(self):
        return "<User(name={}, fullname={}, age={})>".format(
            self.name, self.fullname, self.age)

# Criar tabela no banco de dados

In [7]:
Base.metadata.create_all(engine)

2022-08-20 17:49:58,467 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-20 17:49:58,468 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2022-08-20 17:49:58,469 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-20 17:49:58,473 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")
2022-08-20 17:49:58,475 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-20 17:49:58,476 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	fullname VARCHAR(50),
	age INTEGER,
	PRIMARY KEY (id)
)


2022-08-20 17:49:58,477 INFO sqlalchemy.engine.Engine [no key 0.00066s] ()
2022-08-20 17:49:58,522 INFO sqlalchemy.engine.Engine COMMIT

# Criando instâncias da classe

In [8]:
user = User(name='joão', fullname='joão josé', age=20)

In [9]:
user.name

'joão'

In [10]:
user.fullname

'joão josé'

# Criando uma sessão

In [11]:
from sqlalchemy.orm import sessionmaker

In [12]:
Session = sessionmaker(bind=engine)
Session

sessionmaker(class_='Session', bind=Engine(sqlite:///enterprise.db), autoflush=True, autocommit=False, expire_on_commit=True)

In [13]:
session = Session()

# Adicionando objetos (INSERT)

In [14]:
session.add(user)

In [15]:
session.commit()

2022-08-20 17:49:58,719 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-20 17:49:58,723 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?)
2022-08-20 17:49:58,724 INFO sqlalchemy.engine.Engine [generated in 0.00104s] ('joão', 'joão josé', 20)
2022-08-20 17:49:58,732 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
session.add_all([
    User(name='isabela', fullname='maria isabela', age=22),
    User(name='pedro', fullname='joão pedro', age=22),
])

In [18]:
session.new

IdentitySet([<User(name=isabela, fullname=maria isabela, age=22)>, <User(name=pedro, fullname=joão pedro, age=22)>])